*,*::after,*::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 10px;
    font-family: monospace;
}

body{
    background-color: #000;
    flex-direction: column;
    display: flex;
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
}
h1{
    color: white;
}

nav.active{
width: 400px;
padding: 20px;
border: none;
display: flex;
align-items: center;
gap: 20px;
justify-content: center;
}
nav{
    width: 70px;
    height: 50px;
    border-radius: 5px;
    margin: 30px;
    background-color: white;
    transition: width .6s ease;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width .6s linear;
    gap: 10px;
}
nav.active ul{
    width: 100%;
}
ul li {
opacity: 0;
font-size: 16px;
transition: opacity .6s linear, transform .6s linear; 
}
nav.active li{
    opacity: 1;
    color: chocolate;
    font-weight: bold;
    text-transform: uppercase;
    transform-origin:rotateY(0deg);
    transform: rotateY(360deg);
}


.click{
    background-color: blueviolet;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    border-radius: 3px;
    padding: 10px 20px;
    border:none;
    position: relative;

}
.circle{
    position: absolute;
  
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    animation: scale .9s ease-in-out;
}

@keyframes scale {
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}


.loading{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(146, 61, 226, 0.952);
    animation: changeColor .6s infinite ease-in-out;
}
@keyframes changeColor {
    0%{
        background-color:rgba(146, 61, 226, 0.952) ;
        transform: translateY(0xp);
    }
    50%{
        background-color:rgba(54, 179, 236, 0.952);
        transform: translateY(3px);
    }
    100%{
        background-color:rgba(231, 15, 98, 0.952);
        transform: translateY(0px);
    }
}

.container1{
    position: relative;
}
.shape1{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: white;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 40px;
    left:100px;
    transform-origin:top left;
    animation: rotate1 1s ease-in-out infinite;
}
.shape2{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: white;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 40px;
    left:100px;
    transform-origin: top left;
    transform: rotate(90deg);
    animation: rotate2 1s ease-in-out infinite;
}

@keyframes rotate1 {
    0%,25%{
        transform: rotate(0deg);
    }
    50%,75%{
        transform: rotate(180deg);
    }
   
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0%,25%{
        transform: rotate(90deg);
    }
    50%,75%{
        transform: rotate(270deg);
    }
   
    100%{
        transform: rotate(360deg) rotate(90deg);
        
    }
}